* {
    box-sizing: border-box;
}

body {
    background-color: #fffacd; /* Fondo melocotón claro */
    border-radius: 10%;
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(255, 160, 122);
    display: flex;
    justify-content: center;
    font-size: 10;
    
}

.nav {
   border: solid black;
    text-align: end;
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    height: 100%;
    border: solid black;
    
}

.contenedor-lista {
    width: 20%;
    border: solid black;
  
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tablas{
   width: 100%;
   text-align: center;
  
}
.tablas__title{
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
}
.item{
    text-align: center;
    padding: 20px;
}

.lista .item:nth-child(1){
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    font-weight: bold;
}
   
.lista .item:nth-child(2) {
    background-color: rgb(255, 160, 122);
    font-family: 'Roboto', sans-serif;
    font-size:21px;
    font-weight: bold;
}

.lista .item:nth-child(3) {
    background-color: rgb(255, 160, 122);
    font-family: 'Roboto', sans-serif;
    font-size:21px;
    font-weight: bold;
}

.lista .item:nth-child(4) {
    background-color: rgb(255, 160, 122);
    font-family: 'Roboto', sans-serif;
    font-size:21px;
    font-weight: bold;
}

.lista .item:nth-child(5) {
    background-color: rgb(255, 160, 122);
    font-family: 'Roboto', sans-serif;
    font-size:21px;
    font-weight: bold;
}


.contenido{ 
    background-color: fffacd;
    height: 95%;
    margin: 10px;
    border: solid black;
}

.con-busqueda{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 45px;
    font-size: 25px;

}
#busqueda{
        width: 500px;
        height: 30px;
        font-size: 15px;
}
.btn{
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.img{
    width: 20px;
    height: 30px;
}
.fecha{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.items-nav{
        display: flex;
         gap: 20px;
         margin-left: 20px;
         align-items: center;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}






.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.tabla{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.modal-content {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

#acceptBtn, #closeModal {
    background-color: rgb(93, 94, 95);
    color: white;
}
.texto-modal,.texto-modal2{
    font-size: 30px;
  color: greenyellow;
}
.btn-lupa{
    border: none;
    background-color: rgb(231, 231, 231);
}
.texto-modal2{
    color: red;
}




.modal-column {
    display: flex;
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: left;
    gap: 20px;
}

.modal-column h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 40px;
}


.modal-column img {
    max-width: 100%;
    height: auto;
   
}

#closeModal3 {
    clear: both;
    display: block;
    margin: 10px auto;
}
li{
    display: flex;
    gap: 20px;
}

